
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/*/*.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> jetbrains/ide ###
/.idea/
###< jetbrains/ide ###

###> packages ###
/packages/*
###< packages ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
